.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  padding: 1em 2em;
  animation: 1s fadein 0.5s forwards;
	opacity: 0;
  box-shadow: 0 10px 20px rgba(186, 186, 186, 0.05), 0 6px 6px rgba(186, 186, 186, 0.11);
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width : 1010px) {
      flex-direction: column;
    }
  }
  &__logo {
    @media (max-width : 1010px) {
      margin-bottom: 15px;
    }
  }
  &__navBar {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: capitalize;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .back{
      margin-left: 10px;
    }
    @media (max-width : 1010px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__btn{
    background-color: #bd2df5;
    padding: .3em 1em;
    transition: all 600ms;
    border-radius: 25px;  
    &:hover {
      transform: translate3d(0, -0.3em, 0);
    }
    .backBtn{
      color: white;
    }
  }
  &__hide{
    padding: .3em 1em;
    &:hover {
      color: black;
      background-color: rgba(128, 128, 128, 0.3);
    }
  }
  @media (max-width : 1010px) {
      padding: 25px 20px;
    }
}

@keyframes fadein {
	100%{
		opacity: 1;
	}
}
